div {
	border-radius: 5px;
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 76px;
	z-index: 1;
	background: #FF44AA;
	/*
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: all 5s ease;
	transition: all 5s ease;*/
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 26px;
	font-family: Tahoma;
	color: 	#5555FF;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 26px;
	font-family: Walt Disney Script;
	color:  	#5555FF;
}


a:hover {
	font-weight: bold;
         color:#8d4bbb;
}

/*.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 30%;
	height: 100px;
	**background:url(#ffffff);
	margin-bottom: 10px;
}


.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 70%;
	height: 100px;
	background-color:#cca4e3;
	margin-bottom: 10px; 
**/
}
#p{
    text-align: center;
    /*font: 40px/1.5 Tahoma,Helvetica,Arial,'å®‹ä½“',sans-serifï¼›*/
    font:James Fajardo;
    color:#ff4777;
}



/*voice button*/
.logo{
   height: 30px;
   width: 200px;
   color:white;
   background-color: #56004f;
   font-family: Walt Disney Script;
   font-size: 20px;	
}

/*weibolink*/

.lianjie { 
	border-radius: 5px;
	border: 2px solid #cca4e3;
	background-color: #cca4e3;
    color: #5555FF
	height: 100px;
	width: 200px;
	margin: auto;
	text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family:Tahoma;
    font-weight: bold;
}

.link {
	text-decoration: none;
	color: #5555FF;
	font-family:Tahoma;
}

.hard {
	text-decoration: none;
    font-weight: bold;
	font-size: 30px;
	color: #5555FF;
	font-family:Tahoma;
}  
img{width:200px;height:200px;}
.weibopicture{width:50px;height:50px;}
.dysize{width:200px;height:200px;}



/*common style of page*/


#home_content,
 {
	margin: 0 auto;
	width: 1000px;
	height: auto;
}

/* home */



.hover1{width:400px; height:200px;display:block; 
    background:url("http://lyle.smu.edu/~haoran/web1/hover1.png") no-repeat;
    background-position:0 0; transition: all 0.6s;}
.hover1:hover{background-position:0 -200px;
              
              }


.hover2{width:400px; height:200px;display:block; 
    background:url("http://lyle.smu.edu/~haoran/web1/hover2.png") no-repeat;
    background-position:0 0; transition: all 0.6s;}
.hover2:hover{background-position:0 -200px;
              }





